@media (min-width: 360px), (max-width: 767px){
.footer_text
{
  margin-left: .4vw;
}
  footer
  {
      height: 80px;
     line-height: 25px;
      position: relative;
   
      background-color:#959eac79;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      z-index: 0;
  }
  .footer_info
  {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
  flex-wrap: wrap;
      position: relative;
      transform: translateX(-50%);
  max-width: 100%;
  color: rgb(255, 255, 255);
  left: 50%;
          font-weight: bold;
       
  }



}
@media (min-width: 768px)
{
  footer
  {
      height: 100px;
      line-height: 50px;
      position: relative;
      display: flex;
      background-color:#959eac79;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      z-index: 0;
  }
  .footer_info
  {
      font-size: 25px;
   
  max-width: 100%;
  min-width: 88%;    
          font-weight: bold;
          justify-content: center;    
  }

  footer  ul
  {
    margin-right: 1%;
  }
  footer  ul li a
  {
    font-size: 35px;
    width: 50px;
    height: 50px;
    line-height: 52px;
  }
    }


@media (min-width: 360px), (max-width: 767px){

  
  }
 
  
  @media (max-width: 830px) and (orientation:landscape)
  {
   
  }