@media  (max-width: 900px)
{
    .Service_section
{
    margin-top: 5vh;
    margin-bottom: 2vh;
}
}
@media (min-width: 900px)
{
    .Service_section
    {
        margin-top: 12vh;
        margin-bottom: 10vh;
    }
}
